<! DOCTYPE html>
<html>

	<head>
		<title>
			<!-- title of the page goes here -->
		</title>

		<link rel="stylesheet" type="text/css" href="style.css">

	</head>

	<body>
	
	<h1>	My African Adventures! </h1>
    
  <%
    for (var i = 0; i < places.length; i++) {
      var place = places[i];
  %>
    
    <div>
       <h2><%=place.name%> - <%=place.country%></h2>
      <img src="/images/<%=place.image_name%>" alt="<%=place.name%>"/>
      <p><%=place.description%></p>
      <p><%=place.rating%> (out of 5)</p>
    </div>
 
  <%  
    }    
  %>
    
	</body>

</html>